body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(139, 139, 139);
  color: black;
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}
header a {
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 50px;
}

section {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

article {
  border-radius: 10px solid black;
}

section button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(139, 139, 139);
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  font-size: 50px;
}
